html, body{
	height: 100%;
}
body{
	background-image: url("../images/MMPDSC00122.jpg");
	background-size: 110%;
	text-align: center;
	background-attachment: fixed;
}
h1 {
	font-family: 'Yellowtail', cursive;
	color: #ffffe6;
	font-size: 80px;
	text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

h3 {
	font-family: 'Yellowtail', cursive;
	margin-top: -70px;
	color: #ffffe6;
	font-size: 60px;
	text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#timer{
	font-family: 'Yellowtail', cursive;
	margin-top: -70px;
	color: #ffffe6;
	font-size: 50px;
	text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#gameTimer{
	font-size: 40px;
	color: red;
	text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
}

p {
	color: #ffffe6;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	font-size: 25px;
}
 div {
 	margin-bottom: 40px;
 	color: #ffffe6;
 	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	font-size: 20px;
 }

#startquiz{
	margin-top: 10px;
	display:block;
  	width:50%;
  	height:20%;
  	margin: 0 auto;
  	border: 2px solid white;
  	cursor: pointer;
  	background:transparent;
  	font-size: 42px;
  	font-family: 'Yellowtail', cursive;
	color: #0000ff;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

#submitquiz {
	margin-top: 10px;
	display:block;
  	width:50%;
  	height:20%;
  	margin: 0 auto;
  	border: 2px solid white;
  	cursor: pointer;
  	background:transparent;
  	font-size: 42px;
  	font-family: 'Yellowtail', cursive;
	color: #0000ff;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}